body{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: rgb(13 11 18 / 94%);
    height:100vh;
    user-select: none;
}

.main-container{
    display:flex;
    justify-content: space-around;
    padding:1rem; 
    gap:8rem;
    background-color: rgb(50 50 50 / 79%);
    height:75vh;
    width:75vw;
    border-radius:7px;
    box-shadow: 19px 5px 11px 14px #1f1f20;
}

.left-container{
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    gap:1rem;
}

.right-container{
    display:flex;
    flex-direction:column;
    align-items: center;
    gap:1rem;
}

.grid-size{
    font-size:3rem;
    background-image:linear-gradient(to left,red,orange,yellow);
    background-clip:text;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent; 
}

.grid{
    display:grid;
    height: 700px;
    width: 700px;
    background-color: rgba(255, 255, 255, 0.577);
    border-radius:3px;
}

.btn{
    font-size:1.2rem;
    padding:0.5rem;
    border-radius:7px;
    border-style: none;
    background-color: rgb(202 206 182 / 82%);
    transition: all .2s ease-in-out;
}

.btn:hover{
    transform: scale(1.15); 
    cursor: pointer;
}

.rainbow{
    background-image:linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    background-clip:text;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;  
}

.enabled{
    box-shadow: 5px 0px 14px 2px #f9f982;
}
